body { padding-top: 70px; }

h1 { margin-top: 0px; margin-bottom: 30px; font-size: 1.6em; }

.filter-wrapper { max-width: 340px; margin-bottom: 10px; }
.filter-wrapper .spacing { background: none; border: 0px; width: 6px; padding: 0px; }

.datatables, .dataTables_scrollHeadInner { width: 100% !important; }
.dataTables_scrollHead table { margin-bottom: 0px; }
.dataTables_scrollHead table { font-size: 90%; margin-bottom: 0px; }

#graphAreaOuter { overflow: auto; }
#graphArea { height: 420px; }
#graphAreaEmpty { width: 100%; height: 100%; line-height: 300px; text-align: center; font-size: 200%; color: #CCC; display: none; }

.jqplot-highlighter-tooltip { z-index: 99; opacity: 0.95; background-color: #EFEFEF; border-color: #DDD; }

@media (max-width: 1000px) {
    #graphArea { min-width: 800px; }
}