        </div>

        <script type="text/javascript" src="//cdn.mcms.sk/js/crud-api.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/datatables.min.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/datatables-mcms.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/jqplot.canvasAxisLabelRenderer.min.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/jqplot.highlighter.js"></script>
        <script type="text/javascript" src="//cdn.mcms.sk/js/jqplot.cursor.js"></script>
    </body>
</html>
