<div class="grid">
    <div class="col-lg-8">
        <h1>Hodinová spotreba</h1>
    </div>

    <div class="col-lg-4 filter-wrapper hours pull-right">
        <div class="input-group">
            <label for="filterMonth" class="input-group-addon">Mesiac:</label>
            <select class="form-control filter-prop" data-name="month" id="filterMonth">
                {monthsOptions}
            </select>
            <div class="input-group-addon spacing"></div>
            <label for="filterDay" class="input-group-addon">Deň:</label>
            <select class="form-control filter-prop" data-name="day" id="filterDay">
                {daysOptions}
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    
    
    
    <div class="col-lg-8 col-md-6 col-sm-12" id="graphAreaOuter">
        <div id="graphArea"></div>
        <div id="graphAreaEmpty">Pre tento deň nie sú dostupné žiadne dáta.</div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12" id="wrapper">
        <table class="table table-hover table-striped so-tables datatables" id="gridDays">
            <thead>
                <tr> <th></th> <th class="text-center">Hodina</th> <th class="text-center">Spotreba (kWh)</th> </tr> 
            </thead>
            
            <tbody></tbody>
        </table>
    </div>
    
    <div class="clearfix"></div>
</div>

<script type="text/javascript" src="/assets/hours.js"></script>