<div class="grid">
    <div class="col-lg-8">
        <h1>Denná spotreba</h1>
    </div>
    
    <div class="col-lg-4 filter-wrapper pull-right">
        <div class="input-group">
            <label for="filterMonth" class="input-group-addon">Mesiac:</label>
            <select class="form-control filter-prop" data-name="month" id="filterMonth">
                {monthsOptions}
            </select>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="col-lg-8 col-md-6 col-sm-12" id="graphAreaOuter">
        <div id="graphArea"></div>
        <div id="graphAreaEmpty">Pre tento mesiac nie sú dostupné žiadne dáta.</div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12" id="wrapper">
        <table class="table table-hover table-striped so-tables datatables" id="gridDays">
            <thead>
                <tr> <th></th> <th class="text-center">Dátum</th> <th class="text-center">Spotreba (kWh)</th> </tr> 
            </thead>
            
            <tbody></tbody>
        </table>
    </div>
    
    <div class="clearfix"></div>
</div>

<script type="text/javascript" src="/assets/index.js"></script>